.header-part{
    background: #0c1e2e;
    padding: 5px 80px;
   
    margin: 0 0 2px  2px;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.header-part h3 {
    color: #fff;
    padding: 10px;
}
.header-part img{
    float: right;
    height: 60px;
    border-radius:10px;
}